################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/EventsAPI/appsettings.json
/EventsAPI/appsettings.json
